.blog-form-container {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin: 20px auto;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  border-radius: 8px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-section {
    background-color: rgb(235, 238, 240);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.form{
  overflow-y: auto;
  overflow-x: hidden;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.btn {
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
  width: 100%;
  height: 200px !important;
  box-sizing: border-box;
}

select{
 width: 50%;
  padding: 8px;
  box-sizing: border-box; 
}

.save-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.save-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.button-section {
  display: flex;
  justify-content: center;
  flex: 5px;
}