.dashboard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.cards-section {
  border-radius: 1px solid rgb(219, 215, 215);
}

.one-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.count-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  columns: inherit;
  flex: 1;
  //padding: 15px;
  text-align: left;
  // height: 100%;
}

.count-card:hover {
  background-color: rgb(101, 173, 101) !important;
  cursor: pointer;
}

.button-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  columns: inherit;
  flex: 1;
  height: 100%;
}

.button-card:hover {
  background-color: rgb(101, 173, 101) !important;
  cursor: pointer;
}

.recent-post-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  //border: 1px solid rgb(240, 228, 228);
  max-width: 100%;
  height: 30%;
  overflow-y: hidden;
  overflow-x: auto;
}

.one-container {
  border: 1px solid rgb(240, 228, 228);
  max-height: 100vh;
  padding: 10px;
  max-width: 100%;
  //overflow: auto;
  overflow-y: scroll;
}

.recent-posts {
  display: flex;
  justify-content: start;
  // gap: 5px;
}

.blog-post-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.post-details {
  display: flex;
}

.blogPostImage {
  width: 180px;
  height: 160px;
  object-fit: fill;
  //border-radius: 10%;
}

.post-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  margin-right: 20px;
  overflow-y: auto;
  height: 250px;
  // width: 190px;
//   height: 270px;
  // border-radius: 50px;

}

.post-card:hover {
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe,
    -20px -20px 60px #ffffff;
}

.card-group .post-card{
  overflow-y: auto;
  padding: 5px;
}

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF;
}

.card-counter.info {
  background-color: #26c6da;
  color: #FFF;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}






////////////////////////////////////////////////////////////////////////////////////
/////////////////          Editor / User CSS Section        ///////////////////////
////////////////////////////////////////////////////////////////////////////////////
.user-dashboard-container {
    width: 100%;
    height: 100vh;
    //height: 100%;
    //overflow-y: auto;
    padding: 10px;
    margin-bottom: 5%;
}

.user-main-wrapper {
    min-height: 100vh;
    width: 100%;
    //overflow-y: auto;
}

.user-cards-section {
    //   height: calc(100vh - 150px); /* Adjust based on header/footer height */
    height: 100vh;
    /* Adjust based on header/footer height */
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5%;
}

.user-cards-bottom {
    margin-bottom: 15%;
}

.user-card {
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.user-card:hover {
    background-color: #b9d1eb;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.user-container-fluid {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 100%;
}

.user-card-body {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-blog-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}