@if(role === "Admin")
{
<div class="dashboard-container">
  <div class="row mt-1">
    <div class="col-md-6">
      <h5>Blog Category Performance</h5>
      <select class="w-25 form-control" [(ngModel)]="selectedCategory"
        (ngModelChange)="getCategoryPostPerformanceData($event)">
        <option *ngFor="let type of blogTypes" value={{type.id}}>{{type.name}}</option>
      </select>
      <div class="chart-container">
        <canvas id="categoryChart">{{ categoryChart }}</canvas>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Blogs Posts Performance</h5>
      <div class="chart-container">
        <canvas id="performanceChart">{{ chart }}</canvas>
      </div>
    </div>

  </div>

  <div class="blog-wrapper">
    <div class="text-satrt">
      <h5>Recent Posts</h5>
    </div>
    <div class="recent-post-container">
      <div class="card-group" *ngFor="let post of blogs">
        <div class="post-card">
          <img *ngIf="post.image.length > 0" class="blogPostImage"
            src="data:{{post.imageExtension}};base64,{{post.image}}" alt={{post.imageName}}>
          <img *ngIf="post.image.length === 0" class="blogPostImage" src="../../../../assets/NoImage.png">
          <h4 class="card-title">{{post.title | truncate}}</h4>
          <button class="w-75 mb-1 btn btn-outline-secondary" (click)="readMore(post.id)">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
}

@if(role === "Editor" || role === "User")
{
<div class="user-dashboard-container mb -3">
  <div class="user-main-wrapper">
    <div class="user-wrapper">
      <div class="user-header-section mb-4">
        <h3 class="text-primary fw-bold">Dashboard</h3>
      </div>

      <div class="user-container-fluid mb-4">
        <label for="">Select category</label>
        <select class="user-form-select w-50" onchange="getBlogs()" [(ngModel)]="selectedCategory">
          <option *ngFor="let type of blogTypes" value={{type.id}}>{{type.name}}</option>
        </select>
      </div>
      <div class="user-cards-section">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 cards-bottom">
          <div *ngFor="let blog of blogs" class="col">
            <div class="user-card h-100 shadow-sm border-0">
              <div class="user-card-body d-flex flex-column align-items-center">
                @if(blog.image != 'undefined')
                {
                @if(blog.image.length > 0)
                {
                <img [src]="'data:' + blog.imageExtension + ';base64,' + blog.image" [alt]="blog.imageName"
                  style="width: 100%; height: 200px; object-fit: cover;">

                <h5 class="card-title text-center text-dark mb-0 mt-2">{{ blog.title }}</h5>
                } @else {
                <img src="../../../../assets/NoImage.png" alt="NoImage"
                  style="width: 100%; height: 200px; object-fit: cover;">

                <h5 class="card-title text-center text-dark mb-0 mt-4">{{ blog.title }}</h5>
                }
                }
                @else {
                <img src="../../../../assets/NoImage.png" alt="NoImage"
                  style="width: 100%; height: 200px; object-fit: cover;">

                <h5 class="card-title text-center text-dark mb-0 mt-4">{{ blog.title }}</h5>
                }
                <button class="btn btn-outline-primary color-dark mt-2" (click)="readMore(blog.id)">Read
                  More</button>
                <!-- <p class="card-title text-center text-light-grey mb-0">{{ blog.description | truncate:30 }}</p> -->

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
}