.dashboard-container {
    width: 100%;
    height: 100vh;
    //height: 100%;
    //overflow-y: auto;
    padding: 10px;
    margin-bottom: 5%;
}

.main-wrapper {
    min-height: 100vh;
    width: 100%;
    //overflow-y: auto;
}

// .wrapper {
//     overflow-x: hidden;
//     overflow-y: auto;
//     min-height: 100vh;
// }

// .cards-section {
//     border: 1px solid black;
//     width: 100%;
//     min-height: 100vh;
//     overflow-y: auto;
//     padding: 100px;
//     margin-bottom: 5%;
// }

.cards-section {
    //   height: calc(100vh - 150px); /* Adjust based on header/footer height */
    height: 100vh;
    /* Adjust based on header/footer height */
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5%;
}

.cards-bottom {
    margin-bottom: 15%;
}

.card {
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.card:hover {
    background-color: #b9d1eb;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container-fluid {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 100%;
}

.card-body {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}