<div class="main-container">
    @if(userRole.length > 0)
    {
    <div class="profile-section mt-5">
        <div class="profile">
            @if(imageUrl.length > 0)
            {
            <img class="profile-image" src="{{imageUrl}}" alt="profile" width="50" height="50">
            }
            @else {
            <img class="profile-image" src="/assets/profile/image2.jpg" alt="profile" width="50" height="50">
            }
        </div>
        <h5 class="mt-2">{{title}}</h5>
        <p class="mt-2">{{userRole}}</p>
    </div>
    <div class="menu">
        @if(userRole == "Admin")
        {
        <li [routerLink]="['/dashboard']">Dashboard</li>
        <li [routerLink]="['/users']">Users</li>
        <li [routerLink]="['/blogs']">Blogs</li>
        <li [routerLink]="['/users/change-Password']">Change Password</li>
        <li><button class="btn btn-outline-danger" (click)="logOut()">Log Out</button></li>
        }

        @else if(userRole == "Editor"){
        <li [routerLink]="['/dashboard/editor']">Dashboard</li>
        <li [routerLink]="['/blogs']">Blogs</li>
        <li [routerLink]="['/users/change-Password']">Change Password</li>
        <li><button class="btn btn-outline-danger" (click)="logOut()">Log Out</button></li>
        }
        @else if(userRole === "User"){
        <li [routerLink]="['/dashboard/user']">Dashboard</li>
        <li [routerLink]="['/users/change-Password']">Change Password</li>
        <li><button class="btn btn-outline-danger" (click)="logOut()">Log Out</button></li>
        }

    </div>
    }
</div>