<div class="main-wrapper">
    <div class="card">
        <div class="header-section">
            <h3 class="text-center">Change Password</h3>
        </div>
        <div class="data-section">
            <div class="main">

                <div class="form">
                    <form [formGroup]="changePasswordForm">
                        <!-- Old Password -->
                        <div class="form-container mt-4">
                            <label>Old Password</label>
                            <mat-form-field class="w-100" appearance="outline">
                                <input matInput [type]="showOldPassword ? 'text' : 'password'"
                                    formControlName="oldPassword" placeholder="Old Password">
                                <button mat-icon-button matSuffix type="button"
                                    (click)="showOldPassword = !showOldPassword">
                                    <mat-icon>{{ showOldPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <!-- New Password -->
                        <div class="form-container mt-4">
                            <label>New Password</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput [type]="showNewPassword ? 'text' : 'password'"
                                    (input)="isPasswordValid($event)" formControlName="newPassword"
                                    placeholder="New Password">
                                <button mat-icon-button matSuffix type="button"
                                    (click)="showNewPassword = !showNewPassword">
                                    <mat-icon>{{ showNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-container mt-4">
                            <label>Confirm Password</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput [type]="showConfirmPassword ? 'text' : 'password'"
                                    formControlName="confirmPassword" placeholder="Confirm Password">
                                <button mat-icon-button matSuffix type="button"
                                    (click)="showConfirmPassword = !showConfirmPassword">
                                    <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="form-container-button mt-4">
                            <button class="button-width w-25 btn btn-outline-danger" type="reset">Reset</button>
                            <button class="button-width btn btn-outline-primary mx-4"
                                (click)="submit()">Change Password</button>
                        </div>
                    </form>
                </div>
                <div class="instructions ms-3">
                    <Ul>
                        <li class="ul-li" [style.color]="hasMinLength ? 'green' : 'red'" for="newPassword">
                            Password must have at least 8 digits.
                        </li>
                        <li class="ul-li" [style.color]=" hasMaxLength? 'green' : 'red'" for="newPassword">
                            Password must have be less than 14 digits.</li>
                        <li class="ul-li" [style.color]="hasUpper? 'green' : 'red'" for="newPassword">
                            Password must contains at least one uper case character.</li>
                        <li class="ul-li" [style.color]="hasLower ? 'green' : 'red'" for="newPassword">
                            Password must contains at least one lower case character.</li>
                        <li class="ul-li" [style.color]="hasSpecial ? 'green' : 'red'" for="newPassword">
                            Password must contains at least one special character character.</li>
                        <li class="ul-li" [style.color]="hasNumber ? 'green' : 'red'" for="newPassword">
                            Password must contains at least one number.</li>
                    </Ul>
                </div>
            </div>
        </div>
    </div>
</div>