.main-wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.header-section {
    background-color: rgb(235, 238, 240);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.card {
    padding: 30px;
    border: 1px solid rgb(7, 126, 13);
    box-shadow: 15px 15px 25px #d6d2d2;
    border-radius: 10px;
}

.main {
    // border: 1px solid green($color: #1d0a0a);
    // box-shadow: 15px 15px 25px #d6d2d2;
    // border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: left;
    width: 100%;
}

.form {
    width: 100%;
    background-color: transparent;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-left: 1px solid rgb(243, 238, 238);
}

.ul-li {
    padding: 10px;
}

.form-container-button {
    text-align: center;
    align-items: center;
}

label.valid {
    color: rgb(13, 105, 13);
}

label.invalid {
    color: red;
}

.form-container {
    width: 100% !important;
    background-color: transparent !important;
}

.form {
    input {
        width: 75% !important;
    }
}

.mat-form-field {
    background-color: transparent;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}