.main-wrapper {
    display: flex;
    justify-content: center;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
    overflow-y: auto;    
}

.data-section{
    text-align: center;
}

.blog-image {
    width: 80%;
    height: auto;
}