.main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    //padding-top: 15px;
    min-height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #504f5a;
    color: white;
}

.profile-section {
    height: 100%;
}

.profile {
    display: flex;
    justify-content: center;
    text-align: start;
    align-content: start;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 90px;
}

.menu {
    li {
        margin: 0;
        padding-top: 10px;
        display: flex;
        justify-content: start;
        text-align: start;
    }

    button{
        color: white;
    }

     button:hover{
        color: black;
    }

    li:hover {
        color: yellow;
        cursor: pointer;
    }

}